<div class="anim_b"> 
<div class="anim"> 
  <div class="content">

    <div class="form-bloc" align="left" *ngIf="firstform">     
      <h1 align="center">
        <img [src]="logoImg" style="width:100px; height:auto" /><br>Forgot Password
      </h1>  
      <form [formGroup]="forgotForm"> 
          <jaspero-alerts [defaultSettings]="options"></jaspero-alerts>
        <div class="frm">
        <input type="text" formControlName="email"  placeholder="Enter your email" required />
        <div class="err" *ngIf="forgotForm.controls.email.invalid && (forgotForm.controls.email.dirty || forgotForm.controls.email.touched)">
          <div class="error_message" *ngIf="forgotForm.controls.email.errors.required">
            Email is required.
          </div>
          <div class="error_message" *ngIf="forgotForm.controls.email.errors.pattern">
            Please enter the correct email.
          </div>
        </div>
      </div>


        <div class="dis" align="center">
          <button type="button" [disabled]="forgotForm.invalid" class="button" (click)="forgot()">NEXT</button><br>
          <p [routerLink]="['/login']" class="forgot">Login</p>
        </div>
      </form>  
    </div>
    
  </div>
</div>
</div>  