

a{ 
    text-decoration:none; 
    color: #999
}
  
a:hover{ 
    text-decoration:none; 
    color: #FC6  ;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 1s ease;
    -ms-transition: all 0.5s ease; 
    transition: all 0.5s ease;
}

a img{ 
    border:none
}

hr{  
    clear:both;
    height:1px; 
    background: #333; 
    border:medium;    
    width: 100%; 
}

.demandeami{ 
    border:none; 
    padding:20px; 
    display:block; 
    color:#EBEBEB; 
    padding-left:50px;     
    background-image:url(/assets/images/profil2.png); 
    background-repeat:no-repeat; 
    background-position:left center; 
    border-bottom:1px solid #2E2E2E
} 

.side{   
    float:left; 
    width:40%; 
    height:auto;  
}
  
.aside{    
    float:left; 
    width:60%;
    height:auto;  
}

.padding{ 
    padding:20px   
} 

.vl{ 
    border-right:1px solid #2E2E2E;    
}
  
.vl2{ 
    border-left:1px solid #2E2E2E;    
}

/*  COLONES */
.Grid { clear:both; overflow: auto  ; overflow:hidden; }
.Grid .Grid-col { width: 100%;   -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left;     }
.Grid .equal-col { width: 100%;   -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left;     }
.Grid .Grid-col2 { width: 33.3333%;   -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left;     }
@media (min-width: 500px) {   .Grid .Grid-col { width: 50%;  }  .Grid .equal-col { width: 50%;  }}
@media (min-width: 800px) {   .Grid .Grid-col { width: 33.333333%;} .Grid .equal-col { width: 50%;  } }

.zoom {  
    text-decoration: none;  
    display:inline;  
    margin: 0 3px 3px 0;  
    opacity:1; 
    -webkit-transform: scale(1,1); 
    -webkit-transition-timing-function: ease-out; 
    -webkit-transition-duration: 550ms; 
    -moz-transform: scale(1,1); 
    -moz-transition-timing-function: ease-out; 
    -moz-transition-duration: 550ms; 
    /* mask-image: url(../Templates/mask.png); */
}

.zoom:hover {
   opacity: 1; 
   -webkit-transform: scale(1.1,1.1); 
   -webkit-transition-timing-function: ease-out; 
   -webkit-transition-duration: 550ms;  
   -moz-transform: scale(1.1,1.1);   
   -moz-transition-timing-function: ease-out; 
   -moz-transition-duration: 550ms;
    position: relative; 
    z-index: 99; 
}

@keyframes cb-font-fade {
    50% {
      color: transparent; 
    }
    100% {
      color: "inherit"; 
    } 
  }

/* -------------------------------- 

CSS FOR THE PANELS MENU OF THE PAGE

-------------------------------- */
*, *::after, *::before {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}
*::after, *::before { content: '';} 
html { overflow: scroll; overflow-x: hidden;}
::-webkit-scrollbar {width: 0px;background: transparent; }
::-webkit-scrollbar-thumb { } 
.cd-main-content {text-align: center;}
.cd-panel {position: fixed;top: 0;left: 0; height: 100%; width: 100%;visibility: hidden;-webkit-transition: visibility 0s 0.6s; -moz-transition: visibility 0s 0.6s;transition: visibility 0s 0.6s; z-index:9999}
.cd-panel::after { position: absolute;top: 0;left: 0; width: 100%;height: 100%;background: transparent; cursor: pointer;-webkit-transition: background 0.3s 0.3s;-moz-transition: background 0.3s 0.3s; transition: background 0.3s 0.3s;}
.cd-panel.is-visible { visibility: visible;-webkit-transition: visibility 0s 0s; -moz-transition: visibility 0s 0s; transition: visibility 0s 0s;}
.cd-panel.is-visible::after {background: rgba(0, 0, 0, 0.6);-webkit-transition: background 0.3s 0s; -moz-transition: background 0.3s 0s;transition: background 0.3s 0s;}
.cd-panel.is-visible .cd-panel-close::before { -webkit-animation: cd-close-1 0.6s 0.3s;-moz-animation: cd-close-1 0.6s 0.3s; animation: cd-close-1 0.6s 0.3s;}
.cd-panel.is-visible .cd-panel-close::after {-webkit-animation: cd-close-2 0.6s 0.3s; -moz-animation: cd-close-2 0.6s 0.3s;animation: cd-close-2 0.6s 0.3s;}

.cd-panel2 {position: fixed;top: 0;left: 0; height: 100%; width: 100%;visibility: hidden;-webkit-transition: visibility 0s 0.6s; -moz-transition: visibility 0s 0.6s;transition: visibility 0s 0.6s; z-index:9999}
.cd-panel2::after { position: absolute;top: 0;left: 0; width: 100%;height: 100%;background: transparent; cursor: pointer;-webkit-transition: background 0.3s 0.3s;-moz-transition: background 0.3s 0.3s; transition: background 0.3s 0.3s;}
.cd-panel2.is-visible { visibility: visible;-webkit-transition: visibility 0s 0s; -moz-transition: visibility 0s 0s; transition: visibility 0s 0s;}
.cd-panel2.is-visible::after {background: rgba(0, 0, 0, 0.6);-webkit-transition: background 0.3s 0s; -moz-transition: background 0.3s 0s;transition: background 0.3s 0s;}
.cd-panel2.is-visible .cd-panel-close::before { -webkit-animation: cd-close-1 0.6s 0.3s;-moz-animation: cd-close-1 0.6s 0.3s; animation: cd-close-1 0.6s 0.3s;}
.cd-panel2.is-visible .cd-panel-close::after {-webkit-animation: cd-close-2 0.6s 0.3s; -moz-animation: cd-close-2 0.6s 0.3s;animation: cd-close-2 0.6s 0.3s;}

 
.cd-panel-header {
  position: fixed;
  width: 20%;
  height: 47px;
  line-height: 60px; 
  z-index: 9999;  
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}

.cd-panel2 .cd-panel-header { 
  width: 5%;  
}

.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}

.from-right .cd-panel-header {
  right: 0;
}

.from-left .cd-panel-header {
  left: 0;
}

.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
 
.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; color:#040404
}

.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #999  ;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.no-touch .cd-panel-close:hover {
  background-color: #000;
}

.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}

.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  background: #040404;
  z-index: 9998;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; 
}

.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.cd-panel-container2 {
  position: fixed;
  width: 40%;
  height: 100%;
  top: 0;
  background: #040404;
  z-index: 9998;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; overflow:scroll !important;
}

.from-right .cd-panel-container2 {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.from-left .cd-panel-container2 {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.is-visible .cd-panel-container2 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
 
.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}

.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}

.cd-panel-content p:first-of-type {
  margin-top: 0;
}

.viclys_logo{
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
} 

 @media only screen and (min-width: 280px) and (max-width: 700px) {
	.cd-panel-container { width: 100%; height:auto }
	.cd-panel-container2 { width: 100%; overflow:scroll !important } 
	.vl{ border-right:0px solid #2E2E2E;    }
    .vl2{ border-left:0px solid #2E2E2E;    }
    .side{   float: none; width:100%; height:auto;  }
    .aside{    float: none; width:100%;height:auto;  } 
}

/* .cb__list {
    padding: 0;
    list-style-type: none; 
    width: 320px;
    margin: 0 auto;
    overflow: hidden; 
}

.cb__list li {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    line-height: 1.45em;
    border-radius: 3px;
    margin: 0 0 1em 0;
    text-align: left;
    position: relative;
    padding: 6px 12px;
    background: #fff;
    font-size: 15px;
    border: none;
    max-width: 90%;
    min-width: 44px;
    min-height: 12px; 
    float: left; 
    clear:both 
} 
.cb__list li.typing {
    animation: cb-font-fade 1.2s ease-in-out infinite; 
    float:none; 
    clear:both 
}
    
.cb__list li:nth-child(even) {
    background: #C90 ; 
    color:#FFF
} */

.skltbs .tab-nav .skltbs-tab-item .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #ff0000;
  border-radius: 10px;
}

.err {
    position: absolute;
    top: 44px;
    font-size: 12px;
    color: red;
 }

 /** 16-4-2018 **/

 .Grid-col2.wdth {
  width: 31% !important;
}

.vdo {
    height: 98px;
    margin-bottom: 5px;
}   

.vdo .mat {
  height: 100% !important;
}



/** 11-4-2018 **/

.f_div{
  width: 100%;
}

.Grid-c0 {
    width: 25%;
    display: inline-block;
}

 .Grid-c1 {
    display: inline-block;
    width: 32%;
}

 .Grid-c2 {
    display: inline-block;
    width: 40%;
}

.p_browse_file {
    width: 100px;
    position: relative;
}

.p_browse_file input#file {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.p_browse_file .custm_inp {
    width: 100%;
    color: #000;
    background-color: #f7e041;
    padding: 3px 2px;
    border-radius: 5px;
}

.p_name h5 {
    margin: 0 0 10px;
    text-transform: capitalize;
}

h4 span {
  color: white;
}


/** 13-7-2018 **/

.mediaImg {
  margin-top: 50px;
}

.mediaImg .profile-mediaimg {
  width: 33%;
  float: left;
}

.mediaImg .profile-mediaimg img {
  max-width: 100%;
  width: 100%;
}




.Grid-c11{
  width: 50%;
  float: left;
}

.Grid-c22{
  width: 50%;
}

.header-slider ngx-item.item{
  text-align: center;
}


.header-slider{
  position: relative;
  margin-top: 70px;
}

.header-slider .leftRs{
  position: absolute;
  top: 28px;
  left: 20%;
}

.header-slider .rightRs{
  position: absolute;
  top: 28px;
  right: 20%;
}

/* 21.8.2018 CSS start here  */

/* .side {
  float: left;
  width: 35%;
  height: auto;
} */
.search {
display: inline-block;
margin-top: 13px;
}
.search input[type="submit"] {
  width: 30px;
  height: 28px;
  background: url(/assets/images/i5.png) no-repeat center center;
  float: left;
  border: none;
  background-size: 100%;
}
.search input[type="search"] {
  font: 1em/1.618 Open Sans, Arial, Sans-serif;
  border: 1px solid #505050;
  border-width: 0 0 3px;
  background-color: transparent;
  padding: .1875em .375em;
  width: 80%;
  color: #CCC;
}
.resp-menu {
  display: inline-block;
}
.resp-menu img {
  width: 90px;
  height: 61px;
}
.video-element {
  display: inline-block;
  padding-right: 13%;
  vertical-align: top;
  width: 187px;
  margin-top: 19px;
}
.video-element img {
  width: 30px;
  height: 28px;
}
.sidebar-menu-first {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  left: 0;
  z-index: 9999999999999999;
}
a.camera-file {
  position: relative;
  overflow: hidden;
}
span.camera {
  position: absolute;
  width: 30px;
  height: 28px;
  overflow: hidden;
  opacity: 0;
  z-index: 9;
}
span.camera input[type="file"] {
  width: 30px;
  height: 28px;
}




@media (max-width:991px) {
.video-element{
  padding-right: 0;
  width: 117px;
  margin-top: 19px;
}
.search {
  width: 200px;
}
}


@media (max-width:800px) {
  .search {
    display: none;
}
.video-element {
  display: none;
}
.resp-menu {
  display: none;
}
}

.margin-myprofile
{
margin-left: 46px;
font-size: 22px;
}
.mediaImg .profile-mediaimg img {
  max-width: 172px;
  max-height: 172px;
  width: 100%;
  object-fit: cover;
}
.profile-mediaimg video {
  width: 100%;
  height: auto;
  max-width: 172px;
}

.statu .aside p {
  color: #efefef;
}
.profile_p .add-remove {
  display: inline-block;
  width: 100%;
  margin-top: 11px;
}
/* .profile_p:hover .add-remove {
  opacity: 1;
  visibility: visible;

} */
.profile_p .btn-info {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
  background: url(/assets/images/add-user-black.png) #f7e041 no-repeat 0 0;
    color: #000;
    border:1px solid #f7e041;
    background-position: 10px 7px;
    padding: 6px 10px 6px 32px;
}
.profile_p .btn-info:hover {
  background: url(/assets/images/add-user.png) no-repeat 0 0;
  color: #fff;
  background-position: 10px 7px;
}
.profile_p .btn-success {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
    color: #000;
    border:1px solid #f7e041;
    background: url(/assets/images/user.png) #f7e041 no-repeat 0 0;
    background-position: 10px 7px;
    padding: 6px 10px 6px 32px;
}
.profile_p .btn-success:hover {
  color: #fff;
  background: url(/assets/images/user-white.png) no-repeat 0 0;
  background-position: 10px 7px;
}
.profile-text {
  margin-bottom: 4px;
  cursor: pointer;
  transition:all 0.5s;
  font-size: 16px;
}
.profile-text:hover {
  color: #FC0;
}
.status-form {
  width: 89%;
  /* background: #f7f7f7; */
  /* padding:15px  20px; */
  /* float: left; */
  overflow: hidden;
  position: relative;
}
.status-form input[type="text"] {
  width: 100%;
  /* border: 1px solid #e0e0e0; */
  padding:20px;
  background: #f7f7f7;
  border: none;
}
.status-form textarea {
  width: 70%;
  border-radius: 0px;
  padding: 20px 20px 7px 20px;
  background: #fff;
  border: none;
  float: left;
  height: auto;
  box-sizing: border-box;
}
.status-form .button {
  font-size: 0;
  border: none;
  width: 30%;
  background: #fff;
  position: relative;
  right: 0;
  top: 0;
  background-size: 100%;
  background-position: 0 0;
  padding: 20px;
  box-sizing: border-box;
}
/* .status-form .button img:hover {
  transform: rotate(47deg);
} */


.status-form .err {
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  margin-top: 6px;
}
.status-form h5 {
  text-align: left;
  font-weight: 600;
  color: red;
}
.write-form .button:hover {
  transform: rotate(47deg);
}
.status-form p {
  text-align: left;
}
/* .cd-panel-close {
  top: 16px;
} */
.cd-panel-close {
  transition:all 0.5s;
}


.elem{
  position: absolute;
  /* top: 40px;
  left: 40px;
  width: 0; 
  height: 0; */
  /* border-style: solid;
  border-width: 75px;
  border-color: red blue green orange; */
  transition-property: transform;
  transition-duration: 1s;
}
.elem:hover {
  animation-name: rotate; 
  animation-duration: 0.4s; 
  /* animation-iteration-count: infinite;
  animation-timing-function: linear; */
  color: #fff;
}
.elem:hover:before, .elem:hover:after {
  background-color: #fff;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}
.skltbs-tab {
  font-size: 16px;
  padding: 1em 0.5em;
}
ul.tab-nav li {
  display: inline-block;
}
.tab-content > .tab-pane {
  padding-top: 15px;
}
.username {
  font-size: 16px;
    text-transform: uppercase;
}
.skltbs ul.tab-nav {
  margin-bottom: 14px;
}
.text-size {
  font-size: 16px;
}
.custom-list li {
  font-size: 16px;
  list-style: none;
}
.mediaImg .profile-mediaimg img {
  transition:all 0.5s;
  height: 87px;
}
.mediaImg .profile-mediaimg img:hover {
  transform: scale(1.1);
}
.mediaImg .profile-mediaimg video {
  transition:all 0.5s;
  height: 87px;
}
.mediaImg .profile-mediaimg video:hover {
  transform: scale(1.1);
}
.profile-mediaimg {
  width: 33.333%;
  float: left;
  margin-bottom: 7px;
  height: auto;
}
.small-padding {
  padding:0 15px;
}
.mediaImg {
  margin-top: 1px;
  background: #000;
  float: left;
  width: 100%;
  padding: 12px;
}
.skltbs-tab {
  display: inline-block;
}
.discussion-chat input {
  width: 83%;
  border-radius: 0px;
  padding: 10px 20px 10px 20px;
  background: #fff;
  border: none;
  float: left;
  height: 51px;
  box-sizing: border-box;
}
.discussion-chat button {
  font-size: 0;
  border: none;
  width: 17%;
  background: #fff;
  position: relative;
  right: 0;
  top: 0;
  background-size: 100%;
  background-position: 0 0;
  padding: 11px;
  box-sizing: border-box;
  height: 51px;
}
.discussion-chat {
  float: right;
  width: 65%;
  margin-right: 10px;
}
.mediaImg {
  height: 295px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.btn-group {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
} 
.btn-group .add-btn-profile {
  border-radius: 2px;
  color: #fff;
  border: none;
  font-size: 12px;
  margin-bottom: 7px;
  background: #f7e041;
  color: #000;
  border: 1px solid #f7e041;
  padding: 2px 6px 2px 6px;
transition: all 0.5s;
}
.btn-group .add-btn-profile:hover {
background: none;
color: #f7e041;
}




.notification .btn-info {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
  background: url(/assets/images/add-user-black.png) #f7e041 no-repeat 0 0;
  color: #000;
  border: 1px solid #f7e041;
  background-position: 10px 7px;
  padding: 3px 8px 3px 23px;
  background-size: 23%;
  background-position: 7px 6px;
}
.notification .btn-info:hover {
  background: url(/assets/images/add-user.png) no-repeat 0 0;
  color: #fff;
  background-size: 23%;
  background-position: 7px 6px;
}
.notification .btn-success {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
    color: #000;
    border:1px solid #f7e041;
    background: url(/assets/images/user.png) #f7e041 no-repeat 0 0;
    background-position: 10px 7px;
    padding: 3px 8px 3px 23px;
    background-size: 16%;
    background-position: 7px 6px
}
.notification .btn-success:hover {
  color: #fff;
  background: url(/assets/images/user-white.png) no-repeat 0 0;
  background-position: 7px 6px;
  background-size: 16%;
}
.demandeami {
  border-bottom: none;
}
.notification {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #2E2E2E;
  margin-bottom: 7px;
}
.comment-area h5 {
  color: #f0ad4e;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}
.comment-area input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px 45px 10px 10px;
  height: 50px;
  background: #f7f7f7;
  color: #000;
}
.comment-area .reply-input {
  color: #000;
  box-sizing: border-box;
}
.comment-area .edit-btn {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
  background: url(/assets/images/edit.png) #f7e041 no-repeat 0 0;
  color: #000;
  border: 1px solid #f7e041;
  background-position: 10px 7px;
  padding: 4px 8px 3px 27px;
  background-size: 21%;
}
.delete-btn {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
  background: url(/assets/images/delete.png) #f7e041 no-repeat 0 0;
  color: #000;
  border: 1px solid #f7e041;
  background-position: 10px 6px;
  padding: 4px 8px 3px 27px;
  background-size: 18%;
}
.like {
  float: left;
  font-size: 15px;
  color: #f0ad4e !important;
  font-weight: 600;
  line-height: 25px;
}
.like img {
  width: 20px;
    float: left;
    margin-right: 6px;
}
.comment-detail  {
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 11px;
}
.comment-detail h6 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
 
}
.comment-detail p {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 7px;
}
.comment-link img {
width:32px;
}
.comment-link span {
  font-weight: 600;
  color: #f0ad4e;
  font-size: 15px;
  vertical-align: middle;
  margin-left: -2px;
}
.comment-link {
  margin-top: 13px;
  position: absolute;
  bottom: 7px;
  width: 100%;
}
.scroll-comment {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 320px;
}

.elem{
  position: absolute;
  /* top: 40px;
  left: 40px;
  width: 0; 
  height: 0; */
  /* border-style: solid;
  border-width: 75px;
  border-color: red blue green orange; */
  transition-property: transform;
  transition-duration: 1s;
  top: 9px;
    right: 17px;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    line-height: normal;
}
.elem:hover {
  animation-name: rotate; 
  animation-duration: 0.4s; 
  /* animation-iteration-count: infinite;
  animation-timing-function: linear; */
  color:#f0ad4e;
}
.elem:hover:before, .elem:hover:after {
  background-color: #fff;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}