/* CSS Document */


/* body  { 
  background-color: #000; 
  margin:0 auto; 
  color:#999; 
  font-family: Helvetica, sans-serif; 
  height:auto
} */

.homepage {
  /* background-color: #454; */
  /* min-height: 1000px; */
}


#slider {
  /* padding-left: 350px; */
  text-align: center;
}

a {
  text-decoration: none;
  color: #999
}

a:hover {
  text-decoration: none;
  color: #FC6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a img {
  border: none
}

hr {
  clear: both;
  height: 1px;
  background: #333;
  border: medium;
  width: 100%;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax-1 {
  /* background-image: url("/assets/images/s1.jpg"); */
}

section.module.parallax-2 {
  /* background-image: url("/assets/images/s2.jpg"); */
}

/** 9-4-2018 **/

#slider {
  height: 500px;
}

/** 16-4-2018 **/

.vdo_img{
  width: 100%;
}

.pos_rel {
  position: relative;
}

button.leftRs {
  position: absolute;
  top: 35%;
  left: 39%;
  background-color: transparent;
  color: #fff;
  border: 0px none;
  font-size: 22px;
}

button.rightRs {
  position: absolute;
  top: 35%;
  right: 39%;
  background-color: transparent;
  color: #fff;
  border: 0px none;
  font-size: 22px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ngxcarouselPointDefault[_ngcontent-c3] .ngxcarouselPoint[_ngcontent-c3] li[_ngcontent-c3]{
  background: transparent;
}

.ngxcarouselPointDefault[_ngcontent-c3] .ngxcarouselPoint[_ngcontent-c3] li.active[_ngcontent-c3]{
  background: transparent;
}


.f_btn {
  background-color: transparent;
  padding: 3px 15px;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #f3f3f3;
  margin: 2px;
  width: 120px;
}

.f_btn span {
  display: block;
  font-weight: 600;
  color: #f7e041;
}

#slider {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  margin-top: 0;
}
#slider img {
  width:100%;
  height: 100vh;
}
button.rightRs, button.leftRs {
  display: none !important;
}
.caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0,-50%);
  width: 100%;
}
.caption h6 {
  color: #999;
  font-size: 1.17rem;
  font-family: Microsoft YaHei, "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin: 30px 0 50px;
}
.caption p {
  color: #999;
  font-size: 26px;
  font-family: Microsoft YaHei, "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin: 30px 0;
}
.section-2 {
  height: 600px;
  background-image: url("/assets/images/s2.jpg");
  margin-top: 100vh;
  position: relative;
  z-index: 101;
  background-attachment: fixed;
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-2 .section-2-content {
  background: #000;
  height: 400px;
  margin-top: 50px;
  float: left;
  width: 100%;
}
#content {
  position:absolute;top:0;left:0;width:100%;z-index:110;height:1000px;background-color: #000;margin-top:800px;
}
.content {
  height:500px; 
  background-color:#796225;
  padding-top:10%;
}
.grid {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 999;
  color: #FFF;
  text-align: left;
  width: auto;
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
}
.grid span {
  font-family: Microsoft YaHei, "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
}
.sec1 {
  background: #000;
}
.sec1 h2 {
  color: #fff;
}
.banner-video {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width:100%;
  height: auto;
}
.yellow-border {
  border: 1px solid #f7e041;
}
.repeat-slider {
  position: relative;
  width: 100%;
  border-bottom: 3px solid #454;
}
.repeat-slider img {
  width: 100%;
  height: 100vh;
}
.comment-area h5 {
  color: #f0ad4e;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}
.comment-area input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px 45px 10px 10px;
  height: 50px;
  background: #f7f7f7;
  color: #000;
}
.comment-area .reply-input {
  color: #000;
  box-sizing: border-box;
}
.comment-area .edit-btn {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
  background: url(/assets/images/edit.png) #f7e041 no-repeat 0 0;
  color: #000;
  border: 1px solid #f7e041;
  background-position: 10px 7px;
  padding: 4px 8px 3px 27px;
  background-size: 21%;
}
.delete-btn {
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 13px;
  margin-bottom: 7px;
  background: url(/assets/images/delete.png) #f7e041 no-repeat 0 0;
  color: #000;
  border: 1px solid #f7e041;
  background-position: 10px 6px;
  padding: 4px 8px 3px 27px;
  background-size: 18%;
}

.elem{
  position: absolute;
  /* top: 40px;
  left: 40px;
  width: 0; 
  height: 0; */
  /* border-style: solid;
  border-width: 75px;
  border-color: red blue green orange; */
  transition-property: transform;
  transition-duration: 1s;
  top: 9px;
    right: 17px;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    line-height: normal;
}
.elem:hover {
  animation-name: rotate; 
  animation-duration: 0.4s; 
  /* animation-iteration-count: infinite;
  animation-timing-function: linear; */
  color:#f0ad4e;
}
.elem:hover:before, .elem:hover:after {
  background-color: #fff;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}
.comment-detail  {
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 11px;
}
.comment-detail h6 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
 
}
.comment-detail p {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 7px;
}
.like {
  float: left;
  font-size: 15px;
  color: #f0ad4e !important;
  font-weight: 600;
  line-height: 25px;
}
.like img {
  width: 20px;
    float: left;
    margin-right: 6px;
}
.grid a img {
  width: auto !important;
  height: auto !important;
}
.slide-item {
  position: relative;
}
ngx-item.item {
  position: relative;
}
.scroll-comment {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 320px;
}
.profile-pix-fit img {
  width: 70px;
  height: 70px !important;
  border-radius: 100%;
  object-fit: cover;
}