  <div class="homepage">
    <app-header></app-header>
    <div style="position: relative; top:0; left:0; z-index:100; height:100vh; width:100%;-webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -o-transition: all 1s ease;-ms-transition: all 1.5s ease; transition: all 1.5s ease;"
     id="p">
     
      <div class="wrap wrap-index repeat-slider">
  
        <div>
  <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)" class="pos_rel">
            <ngx-item NgxCarouselItem *ngFor="let mediaFile of medias">
             
              <div *ngIf="mediaFile.type == 'image'">
                <img src="{{backend_url}}uploads/{{mediaFile.post}}" width="500px" height="300px">
              </div>
              <div *ngIf="mediaFile.type == 'video'">
                <video class="banner-video" controls autoplay  src="{{backend_url}}uploads/{{mediaFile.post}}" loop width="500px" height="300px"> </video>
              </div>
              <div class="grid yellow-border" align="left">
                <div style="text-align:right; float:left">
                  <div class="cd-btn2" href="#0">
                      <img *ngIf="mediaFile.profile_pic; else default; "  src="{{backend_url}}profile_pics/{{mediaFile.profile_pic}}" style=" width:70px; height:auto">
                      <ng-template #default>
                          <img src="assets/images/profil.png" style=" width:70px; height:auto"   >
                        </ng-template> 
                  </div>
                 </div>
                 <div style="padding:20px; float:left; width:auto; font-size:14px; padding-bottom:0px;"><span>{{mediaFile.name}}<br>{{mediaFile.country}} </span><br><br>
                <a href="#"><img src="assets/images/i1.png" width="30" height="28"> </a>
                <a title="comment" (click)="addComment(CommentSection,mediaFile.itemId,mediaFile.index)"><img src="assets/images/i2.png" width="30" height="28"> </a>
                
                <a (click)="like(mediaFile.itemId,userId)">
                    <img title="like" *ngIf="isLike(mediaFile.itemId,userId); else unlike" src="assets/images/i3.png" width="30" height="28">
                     <ng-template #unlike>
                    <img title="unlike"  src="assets/images/i3-like.png" width="30" height="28">
                  </ng-template> 
                   </a>

               
                <a (click)="savepost(mediaFile.itemId)"><img src="assets/images/i4.png" width="30" height="28"> </a>
                <a href="#"><img src="assets/images/i6.png" width="30" height="28"> </a></div> 
                 </div>
            </ngx-item>
            
            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
          </ngx-carousel>
        </div>
      </div>


      <div *ngFor="let post of posts">
      <div class="wrap wrap-index repeat-slider">
  
        <div>
            <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)" class="pos_rel">
            <ngx-item NgxCarouselItem *ngFor="let mediaFile of post" class="slide-item">
             
              <div *ngIf="mediaFile.type == 'image'">
                <img src="{{backend_url}}uploads/{{mediaFile.post}}" width="500px" height="300px">
              </div>
              <div *ngIf="mediaFile.type == 'video'">
                <video class="banner-video" controls autoplay  src="{{backend_url}}uploads/{{mediaFile.post}}" loop width="500px" height="300px"> </video>
              </div>

              <div class="grid yellow-border" align="left">
          <div style="text-align:right; float:left">
            <div class="cd-btn2 profile-pix-fit" href="#0">
              <img *ngIf="mediaFile.profile_pic; else default; "  src="{{backend_url}}profile_pics/{{mediaFile.profile_pic}}" style=" width:70px; height:auto">
              <ng-template #default>
                  <img src="assets/images/profil.png" style=" width:70px; height:auto"   >
                </ng-template> 
            </div> 
          </div>
           <div style="padding:20px; float:left; width:auto; font-size:14px; padding-bottom:0px;"><span>{{mediaFile.name}}<br>{{mediaFile.country}} </span><br><br>
            <a href="#"><img src="assets/images/i1.png" width="30" height="28"> </a>
          <a title="Comment" (click)="addComment(CommentSection,mediaFile.itemId,mediaFile.index)"><img src="assets/images/i2.png" width="30" height="28"> </a>
         

          <a (click)="like(mediaFile.itemId,userId,post.index,'unlike',$event)">
            <img title="like" *ngIf="isLike(mediaFile.itemId,userId); else unlike" src="assets/images/i3.png" width="30" height="28">
             <ng-template #unlike>
            <img title="Unlike" src="assets/images/i3-like.png" width="30" height="28">
          </ng-template> 
           </a>
           
          <a (click)="savepost(mediaFile.itemId)"><img src="assets/images/i4.png" width="30" height="28"> </a>
          <a href="#"><img src="assets/images/i6.png" width="30" height="28"> </a></div> 
           </div>
            </ngx-item>


            <!-- <button (click)="like(post.id,userId,post.index)" class="f_btn">
                <span *ngIf="post.index == index">{{countlike}}</span>
                <span *ngIf="post.index != index">{{post.likes}}</span>
                <i class="fas fa-thumbs-up"></i> Like
              </button> -->

           
            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
          </ngx-carousel>
        </div>
      </div>
    
    </div>
    <jaspero-alerts [defaultSettings]="options"></jaspero-alerts>
    </div>
  </div>


     <ng-template #CommentSection>
     <div class="comment-area">
       <h5><a href="#" class="like"><img src="assets/images/thumbs-up.png"/> {{totalLikesofPost}}</a>Comments</h5>
       <input type="text" (keyup)="$event.keyCode == 13 && postComment($event,commentPostId,CommentIndex)" placeholder="Write a Comment" class="form-control" name="" id="" cols="10" rows="5"/>
       <!-- <div class="comment-detail">
         <h6>Comment 1 </h6>
         <p>Sed ut perspiciatis unde omnis</p>
       </div>
       <div class="comment-detail">
        <h6>Comment 2 </h6>
        <p>Sed ut perspiciatis unde omnis iste natus</p>
      </div> -->
      <div class="scroll-comment">
      <div *ngFor="let comment of allcomments">
        <div class="comment-detail" style="color:white" *ngIf="CommentIndex == indexs">
        


          <div class="profile_p">
            <div class="profile-pic-comment" *ngIf="comment.user_id.profile_pic; else default; ">
              <img src="{{backend_url}}profile_pics/{{comment.user_id.profile_pic}}" width="100" height="100" id="profile_image" class="zoom">
              
            </div>

            <ng-template #default>
                <div class="profile-pic-comment">
                <img class="comment-pic" src="assets/images/profil.png" width="100" height="100" id="profile_image" class="zoom">
              </div>
              </ng-template>

           

           
          </div>
          <div class="text-right-comm">
        <p class="font-weight-bold">{{comment.user_id.name}}  <button class="edit-btn float-right" *ngIf="userId == comment.user_id._id" (click)="getcomment(comment._id)">Edit</button></p>



          <p>{{comment.comment}} </p>

         
          
          <!-- <button class="delete-btn" *ngIf="userId == comment.user_id" (click)="deletecomment(comment._id,commentPostId,CommentIndex)">Delete</button> -->
         
          <div *ngIf="comment._id == commentid" >
            <div *ngFor="let comment of commentsreply">
              <p>{{comment}}</p>
            </div>
          </div>
          <p *ngIf="commentshow == true">{{commentreply}}</p>
          <div *ngIf="comment._id == comment_id">
            <input (keyup)="$event.keyCode == 13 && replycomment($event,comment._id,commentPostId) ">
          </div>
          <!-- <button (click)="reply(comment._id)">Reply</button> -->
          <div *ngIf="comment._id == commentid">
            <div *ngIf="editshow == true">
              <input class="form-control reply-input" value={{commentedit}} (keyup)="$event.keyCode == 13 && editcomment($event,comment._id,commentPostId,CommentIndex)">
            </div>
          </div>
        </div>
        </div>
        </div>
      </div> 
       <button aria-label="Close" (click)="closeModal()" class="close pull-right elem" type="button">
        <span aria-hidden="true">×</span>
      </button>
      </div>
    </ng-template>


 